* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins" monospace;
    /* overflow: hidden; */
}

body {
    background-color: rgb(236, 236, 233);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

}

ul {
    list-style: none;
}

.aa {
    text-decoration: none;
    color: white;

}

a {
    text-decoration: none;

}

a:hover {
    color: darkmagenta;
    cursor: pointer; 
box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white ; 
background: white; 

}

.top {
    background-color: #f8f9fa;
    border-bottom-left-radius: 30px;
    overflow: hidden;


}

.head1 {
    position: relative;
    animation: an 1s ease-out;

}

.header-contant {
    padding: 15rem 5rem 15rem 15rem;
    font-size: 30px;
}
.nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    text-decoration: none;
    /* position: fixed; */
    border: 1px solid;
    background: black;
    position: fixed;
    width: 100%;
}


.links ul {
    list-style-type: none;
    display: flex;
    padding: 10px 8px;
    gap: 40px;
    text-decoration: none;
    font-size: 23px;
    padding: 5px 30px;
    border-radius: 10px;
}

.links ul li {
    position: relative;
    animation: an 1s;
}

.drawer {
    display: none;
}

.social-media {
    display: flex;
    list-style: none;
}

.social-media li {
    padding: 20px 20px 20px 0;
}

.flex-container {
    display: flex;
    background: #fff;
    /* border: 1px solid; */
    border-radius: 25px;
    width: 80%;
    margin: 7rem auto;
    color: rgb(2, 9, 63, 1);


}

.card-image,
.card-content {
    padding: 25px;
}

.card-image,
.card-content {
    flex: 1;
}

.two,
.four {
    order: 1;
}

.card-image img {
    width: 100%;
}

.card-card {
    position: relative;
}

.model {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 4rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 70%;
    background: white;
    z-index: 10;

}

.overly {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.card-content h2 {
    /* padding: 0 4rem; */
    font-size: xx-large;
    margin: 35px 0 10px;

}

.card-content>p {
    font-size: x-large;
    margin: 15px 0;
}

.last-top {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10rem 7rem;
}

.card-content ul {
    display: flex;
}

.card-content ul li {
    padding: 0 20px 10px 0;
}



.social-media2 {
    display: flex;
    list-style: none;
}

.social-media2 li {
    padding: 20px 20px 20px 0;
}

.last {
    flex: 1.7;
    padding: 0, 5rem 2rem;
}

.about-right {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 5px;
}

.bord {
    border-top: 1px solid black;
    margin: 5px 0 5px;
    font-size: x-large;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.icon div {
    padding: 20px;
    margin: 0 10px 0 0;
    border-radius: 10px;
    background: #f1f0f0;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.three-div {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 20px;
}

.last-one {
    background-color: rgba(177, 131, 62, 0.89);
    padding: 10rem 1.5rem 7rem;
    margin: 2rem 5px;
    border-top-left-radius: 30px;
    width: 100%;
}

#id1 {
    font-size: 50px;
    text-align: center;
}

.p4 {
    text-align: center;
    font-size: 50px;
    padding: 30px;
    /* width: 60px; */

}

.div3 {
    border-radius: 20px;
}

.form {

    width: 50%;
    margin: auto;
    padding: 2rem;
    text-align: center;
    border-radius: 30px;
}

.are {
    /* width: 50%;  */
    border-radius: 30px;
}

.inpu {
    border-radius: 15px;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 15px;
}

.portfolio button {
    padding: 5px;
    font-size: large;
    border-radius: 10px;
}

.about {
    background: #fff;
}

.grt-in {
    background: black;
    color: white;
    cursor: pointer; 
box-shadow: 0 0 5px rgb(247, 244, 244), 0 0 10px rgba(250, 246, 246, 0.904), 0 0 15px rgba(240, 234, 234, 0.904) ; 
/* background: white;  */

}

.button:hover {
    /* background: black; */
    color: #f8f9fa;
    cursor: pointer; 
box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white ; 
background: rgb(12, 10, 10); 
color:brown;

}

/* @-webkit-keyframes and {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
} */


@media screen and (max-width:850px) {

    .flex-container,
    .last-top {
        flex-direction: column;
        /* overflow: hidden; */
    }

    body {
        background: #000;
    }

    .nav {
        justify-content: space-between;
    }

    .links {
        display: none;
    }

    .drawer {
        display: block;
        background: #ee6e6e;

    }
}